NEW_RELIC_LICENSE_KEY=
NEW_RELIC_LOG_LEVEL=info
INTERNAL_TELEMETRY_NEW_RELIC_LICENSE_KEY=
INTERNAL_TELEMETRY_OTLP_ENDPOINT=https://otlp.nr-data.net:4318
INTERNAL_TELEMETRY_METRICS_LEVEL=normal
INTERNAL_TELEMETRY_METRICS_INTERVAL_MS=30000
INTERNAL_TELEMETRY_METRICS_TIMEOUT_MS=10000
INTERNAL_TELEMETRY_LOGS_LEVEL=info
INTERNAL_TELEMETRY_LOGS_SAMPLING_ENABLED=true
INTERNAL_TELEMETRY_LOGS_SAMPLING_TICK=10s
INTERNAL_TELEMETRY_LOGS_SAMPLING_INITIAL=10
INTERNAL_TELEMETRY_LOGS_SAMPLING_THEREAFTER=100
