<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="urn:newrelic-config" agentEnabled="true">
  <service licenseKey="REPLACE_WITH_LICENSE_KEY" />
  <application />
  <log level="info" />
  <distributedTracing enabled="true" />
  <applicationLogging enabled="true">
    <forwarding enabled="true" />
    <metrics enabled="true" />
  </applicationLogging>
  <openTelemetry enabled="true">
    <traces include="newrelic-apm-pattern-sample-dotnet-otel-hybrid" />
    <metrics include="newrelic-apm-pattern-sample-dotnet-otel-hybrid" export_interval="10000" />
  </openTelemetry>
</configuration>
